 <% if objeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objeto.errors.count, "erro") %>
          <%= t('form.erro', cadastro: 'cadastro') %></h2>
      <ul>
      <% objeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end %>